body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

a,
.link {
    font-size: 18px;
    font-weight: 100;
    color: #E5E7EB;
    text-decoration: none;
}

.header {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    width: 900px;
    margin: 0 auto;
    padding: 10px;
}

.section-one {
    font-size: 48px;
    font-weight: 700;
    display: flex;
    width: 900px;
    margin: 0px auto;
    padding-top: 90px;
    padding-bottom: 90px;
}

.one-left {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
}

.one-right {
    display: flex;
    flex-basis: 50%;
    justify-content: center;
    align-items: center;
}

.hero {
    color: #F9FAF8;

}

button {
    padding: 8px 16px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 400;
    color: #F9FAF8;
  }

.sign-up{
    margin-top: 10px;
    margin-right: auto;
    padding: 8px 30px;
    background: #3883F6;
    border-style: none;


}

.bkg-blue {
    background-color: #1F2937;
}

.logo {
    flex: 1 0;
    font-size: 24px;
    font-weight: 700;
    color: #F9FAF8;
}



