body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

a,
.link {
    font-size: 18px;
    font-weight: 100;
    color: #E5E7EB;
    text-decoration: none;
}

a:hover {
    color: #ffffff;
}

.header {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    width: 900px;
    margin: 0 auto;
    padding: 10px;
}

.section-one {
    font-size: 48px;
    font-weight: 700;
    display: flex;
    width: 900px;
    margin: 0px auto;
    padding-top: 90px;
    padding-bottom: 90px;
}

.one-left {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
}

.one-right {
    display: flex;
    flex-basis: 50%;
    justify-content: center;
    align-items: center;
}

.section-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 750px;
    margin: 0px auto;
    padding-top: 50px;
    padding-bottom: 90px;
}

.img-layout {
    display: flex;
    gap: 20px;
}

.img-text {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.img-text img {
    max-width: 100%;
    border-radius: 5px;
}

.img-text p {
    text-align: center;
    font-size: 18px;
    font-weight: 100;
}

.section-three {
    display: flex;
    flex-direction: column;
    width: 750px;
    align-items: center;
    margin: 0 auto;
    font-size: 35px;
    font-weight: 100;
    font-style: italic;
    color: #1F2937;
    padding-top: 90px;
    padding-bottom: 90px;
}

.section-three p {
    margin-bottom: 0px;
}

.section-three .quote {
    align-self: flex-end;
    font-size: 25px;
    font-style: none;
    font-weight: 700;
    margin-top: 0px;
}

.bkg-grey {
    background: #E5E7EB;
}

.info {
    font-size: 36px;
    font-weight: 700;
    color: #1F2937;
    margin-bottom: 50px;
}

.hero {
    color: #F9FAF8;

}

button {
    padding: 8px 16px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 400;
    color: #F9FAF8;
  }

.sign-up{
    margin-top: 10px;
    margin-right: auto;
    padding: 8px 30px;
    background: #3883F6;
    border-style: none;


}

.bkg-blue {
    background-color: #1F2937;
}

.logo {
    flex: 1 0;
    font-size: 24px;
    font-weight: 700;
    color: #F9FAF8;
}



